In [2]:
"Push"

'Push'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("microbiome.csv")

In [5]:
df

         Taxon  Patient  Group  Tissue  Stool
0   Firmicutes        1      0     136   4182
1   Firmicutes        2      1    1174    703
2   Firmicutes        3      0     408   3946
3   Firmicutes        4      1     831   8605
4   Firmicutes        5      0     693     50
..         ...      ...    ...     ...    ...
65       Other       10      1     203      6
66       Other       11      0     392      6
67       Other       12      1      28     25
68       Other       13      0      12     22
69       Other       14      1     305     32

[70 rows x 5 columns]